<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <title>Home Product</title>
</head>

<body >
  
  <center>
    <% if (user?.role==="Admin" ) { %>
      <%- include('navbarAdmin.ejs') %> 
      <% } else if (user?.role==="Customer"){ %>
      <%- include('navbarCustomer.ejs') %> 
      <% } else if (user?.role==="Seller"){%>
      <%- include('navbarSeller.ejs') %> 
      <% }%>
      <% if (user.role) {%>
        <div>
          <p><%= user.userName %></p>
          <p class="title"><%= user.role %> </p>
          <p>welcome to HackCare</p>
        </div>
        <% }else{ %>
          <%- include('navbar.ejs') %> 
          <%  } %>
          <% if (errors) { %>
            <% errors.split(';').forEach((perData)=>{%>
                <p style="color: red;"><%= perData %></p>
                <% }) %> 
                <% } %>
          <h1 class="text-center mt-4 mb-4">Product List</h1>
   
          <div class="container-fluid gap-5 d-flex flex-wrap mt-4">
            <% dataProduct.forEach(el=> { %>
              <div class="mb-3">
                <div class="card" style="width: 15rem;">
                  <img class="card-img-top" src="<%= el.imageURL %>" alt="error picture" style=" max-height: 400px;">
                  <div class="card-body">
                    <h4 class="card-title">
                      <%= el.name %>
                    </h4>
                    <p class="card-text">
                      <%=formatRupiah(el.price)%>
                    </p>
                    <a href="/products/detail/<%= el.id %>"><button class="btn btn-primary"> Show Details</button></a>
                    <% if(user?.role==="Customer" ) { %>
                    <a href="/cart/add/<%= el.id %>"><button class="btn btn-primary"> Add to Cart </button></a>
                    <% } %>
                  </div>
                </div>
              </div>
              <% }) %>
          </div>
  </center>
</body>

</html>